body {
    background-color: #dbf6e9;
    color: #162447;
}

.App{
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

h1{
    font-size: 57px;
    font-family: 'Press Start 2P', cursive;
}